{% extends "::base.html.twig" %}

{% block title %}Enter MFA Token{% endblock %}

{% block content %}
    <div class="row padding-bottom" id="login-form">
        <div class="col-md-4 col-md-offset-4">
            {% include "::sessionFlash.html.twig" %}

            <h1>Enter MFA Token</h1>

            <form action="{{ path('_totp_login_check') }}" method="post">
                {% if error %}
                    <div class="alert alert-danger">
                        {{ error.message|trans({}, 'messages')|raw }}
                    </div>
                {% endif %}

                <div class="form-group">
                    <label for="username">Code</label>
                    <input type="text" class="form-control" id="one_time" name="_one_time"
                           >
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

{% endblock %}